body {
    margin-left: 3%;
    margin-right: 3%;
}

.title {
    text-align: center;
}

.chapter {
    text-align: center;
}

.scene {
    text-align: center;
}

.indent {
    text-indent: 40px;
    margin: 0;
}

.noindent {
    text-indent: 0;
    margin: 0;
}
