QWidget
{
    border: 0px;
}

QTabWidget
{
    padding: 0;
}

QTextEdit
{
    font: 11pt "Courier New";
}

QPushButton
{
    border: 1px solid rgb(28, 28, 28);
}

QToolButton
{
    background: rgba(0, 0, 0, 0%);
    border-radius: 4px;
}

QToolButton::hover
{
   background: rgba(144, 144, 144, 20%);
}
