QMenu
{
    color: white;
    background-color: rgb(40, 40, 40);
    border: 0px;
}

QMenu::item
{
    color: white;
    background-color: rgba(0, 0, 0, 0%);
}

QMenu::separator
{
    background-color: rgb(28, 28, 28);
    height: 1px;
}

QMenu::item:selected
{
    background: rgba(100, 100, 100, 60%);
}

QMenu::item:disabled
{
    color: rgb(108, 108, 108);
    background-color: rgba(0, 0, 0, 0%);
}