body {
    margin-left: 3%;
    margin-right: 3%;
}

p {
    margin: 0;
}

.image {
    display: block;
    max-width: 100%;
    width: 90%;
    height: auto;
    text-align: center;
}

.title {
    text-align: center;
}

.chapter {
    text-align: center;
}

.scene {
    text-align: center;
}

.indent {
    text-indent: 40px;
}

.noindent {
    text-indent: 0;
}

.alignL {
    text-align: left;
}

.alignC {
    text-align: center;
}

.alignR {
    text-align: right;
}

.newPage {
	page-break-before: left;
}
